.footer {
  //   &__ceil {
  //     border-bottom: 1px solid #fff;
  //   }
}

.copyrights {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  //   opacity: 1;
  color: $color-dark;
  font-weight: 600;
}
