header {
  height: 100vh;
}

.navigation {
  position: relative;
  background-color: #fff;
}

.nav-inner {
  height: 15vh;
}

.row {
  height: 85vh;
}

.search-icon {
  font-size: 1.8rem;
  cursor: pointer;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100%;
  transition: all 0.3s;
  &:active {
    transform: scale(0.9);
  }
}

.overlay-box {
  width: 100%;
  display: block;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 99;
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#333, 0.8);
  z-index: 98;
  // backdrop-filter: blur(10px);
}

.search-bar {
  position: absolute;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 35%;
  background-color: #fff;
  z-index: 100;
  height: 100vh;
  // @include media-breakpoint-up(xl) {
  //   width: 50%;
  // }
}

.cross-icon {
  position: absolute;
  top: 0%;
  right: 3%;
  font-size: 3.5rem;
}

.search-bar-input {
  padding: 1.5rem;
  margin-top: 7rem;
  width: 90%;
  font-size: 1.6rem;
  border: transparent;
  &:focus {
    outline: none;
  }
}

.search-bar-outter {
  margin: 0 3rem;
  padding: 0 1rem;
  border-bottom: 0.2rem solid black;
}

.cross-icon {
  cursor: pointer;
}

.hero-section {
  background-color: #eaeaea;
  &__right {
    // position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  &__img {
    height: 100%;
  }

  &__left {
    position: relative;
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
