.btn {
  text-transform: uppercase;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: $color-dark;
  font-size: 1.6rem;
  white-space: nowrap;

  &--subscribe {
    background-color: $color-dark !important;
    border: none !important;
    color: #fff !important;
    padding: 1.5rem 2rem !important;
    border-radius: 0.7rem !important;
    transition: all 0.3s !important;
    will-change: transform;
    // box-shadow: 0.2rem 0.6rem 1rem rgba($color-dark, 0.15);
    &:hover {
      // transform: translateY(-2px);
      // box-shadow: 0.2rem 1rem 1rem rgba($color-dark, 0.15);
      opacity: 0.8;
    }
    &:active {
      transform: scale(0.97);
    }
  }

  &--subscribe-2 {
    font-weight: 600 !important;
    color: $color-dark !important;
    cursor: pointer;
    padding: 0 !important;
    background-color: transparent !important;
  }
}
